
.advantages__list,
.advantages__facilities-list {
  .reset-list;
  overflow: hidden;
}

.advantages__facilities-list {
  padding-top: 5px;
  padding-bottom: 24px;
}

.advantages__item-title,
.advantages__facility-title {
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  text-align: center;

  &--white {
    color: #ffffff;
  }
}

.advantages__title,
.advantages__number,
.advantages__description,
.advantages__facility-description {
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  text-align: center;
  color: #333333;

  &--white {
    color: #ffffff;
  }
}

.advantages__title {
  margin-bottom: 28px;

  padding: 0 30px;

  line-height: 26px;
}

.advantages__number {
  margin: 0;
}

.advantages__item-title {
  margin-bottom: 10px;
}

.advantages__facility-title,
.advantages__facility-description {
  text-align: left;
}

.advantages__wrapper-text {
  position: relative;

  padding: 8px 33px 15px;
}

.advantages__item:first-child .advantages__wrapper-text,
.advantages__item:nth-child(2) .advantages__wrapper-text {
  padding: 37px 25px 25px;

  background-color: #81b3d2;
}

.advantages__item:nth-child(2) .advantages__wrapper-text {
  padding-top: 20px;
}

.advantages__item:nth-child(n+3) {
  background-color: #f2f2f2;
}

.advantages__item:first-child .advantages__wrapper-text::before {
  content: "";

  position: absolute;
  top: -22px;
  left: 50%;
  transform: translateX(-50%);

  width: 100%;
  height: 37px;

  background: url("../img/bg-triangle.svg") 0 0 no-repeat;
  background-size: cover;
}

.advantages__picture {
  display: flex;
  align-items: center;
}

.advantages__item img {
  margin: 0 auto;

  display: block;
}

.advantages__item:nth-child(n+3) .advantages__wrapper-text::after {
  content: "";

  position: absolute;
  bottom: 0;
  left: 20px;
  right: 20px;

  width: auto;
  height: 1px;

  background-color: rgba(0, 0, 0, 0.1);
}

.advantages__item:last-child .advantages__wrapper-text::after {
  display: none;
}

.advantages__facility-item {
  position: relative;

  padding: 0 25px 0 70px;
}

.advantages__facility-title {
  margin-top: 28px;
  margin-bottom: 10px;

  &::before {
    content: "";

    position: absolute;
    top: -7px;
    left: 22px;
  }

  &--house::before {
    width: 37px;
    height: 36px;

    background: url("../img/icon-house.svg") 0 0 no-repeat;
    background-size: contain;
  }

  &--souvenir::before {
    width: 32px;
    height: 38px;

    background: url("../img/icon-gift.svg") 0 0 no-repeat;
    background-size: contain;
  }

  &--food::before {
    width: 40px;
    height: 35px;

    background: url("../img/icon-burger.svg") 0 0 no-repeat;
    background-size: contain;
  }
}

.advantages__break {
  display: none;
}

@media (min-width: @tablet-width) {
  .advantages__item-title,
  .advantages__facility-title {
    font-size: 21px;
  }

  .advantages__title {
    margin-bottom: 50px;
  }

  .advantages__facility-title,
  .advantages__facility-description {
    text-align: center;
  }

  .advantages__facility-title {
    margin-bottom: 17px;
  }

  .advantages__list {
    display: flex;
    flex-wrap: wrap;
  }

  .advantages__item:first-child,
  .advantages__item:nth-child(2) {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }

  .advantages__wrapper-text {
    padding: 25px 44px 15px;
  }

  .advantages__item:first-child .advantages__wrapper-text,
  .advantages__item:nth-child(2) .advantages__wrapper-text {
    box-sizing: border-box;
    width: 33.33%;
    padding: 27px 45px 25px;
  }

  .advantages__picture {
    width: 66.67%;
    height: 256px;

    overflow: hidden;
  }

  .advantages__picture img {
    width: 100%;
    height: auto;
  }

  .advantages__item:nth-child(2) .advantages__picture {
    order: -1;
  }

  .advantages__item:first-child .advantages__wrapper-text::before {
    display: none;
  }

  .advantages__item:nth-child(n+3) .advantages__description {
    margin-top: 20px;
    margin-bottom: 30px;
  }

  .advantages__item:nth-child(4) .advantages__description {
    padding: 0 16px;
  }

  .advantages__facilities-list {
    margin-top: 40px;
    margin-bottom: 4px;

    display: flex;
    flex-wrap: wrap;
  }

  .advantages__facility-item {
    box-sizing: border-box;
    width: 33.3%;
    padding: 90px 45px 20px;

    &:nth-child(2) {
      order: 1;

      padding: 90px 42px 20px;
    }
  }

  .advantages__facility-title {
    &::before {
      top: 10px;
      left: 50%;
      transform: translateX(-50%);
    }

    &--house::before {
      width: 75px;
      height: 72px;
    }

    &--souvenir::before {
      width: 64px;
      height: 75px;
    }

    &--food::before {
      width: 77px;
      height: 68px;
    }
  }

  .advantages__item:nth-child(n+3) {
    box-sizing: border-box;
    width: 33.3%;
  }

  .advantages__item:nth-child(n+3) .advantages__wrapper-text::after {
    display: none;
  }

  .advantages__description--white {
    margin-top: 20px;
  }

  .advantages__break {
    display: block;
  }
}

@media (min-width: @desktop-width) {
  .advantages__facilities-list {
    margin-bottom: 25px;
  }

  .advantages__item:first-child .advantages__wrapper-text {
    padding: 27px 60px 25px;
  }

  .advantages__item:nth-child(2) .advantages__wrapper-text {
    padding: 27px 85px 25px;
  }

  .advantages__item:nth-child(n+3) .advantages__description {
    margin-bottom: 50px;
  }

  .advantages__item-title--white {
    margin-top: 25px;
    margin-bottom: 10px;
  }

  .advantages__description--white {
    margin-top: 25px;
  }
}
