
.gallery__title {
  margin-bottom: 47px;

  padding: 0 24px;

  font-size: 14px;
  line-height: 24px;
  font-weight: normal;
  text-align: center;
  color: #333333;
}

.gallery__list {
  .reset-list;
}

.gallery__item {
  position: relative;
  margin-bottom: 40px;

  padding: 0 20px;

  &:first-child::before {
    content: "";

    position: absolute;
    top: -23px;
    left: 0;
    right: 0;

    width: auto;
    height: 1px;

    background-color: rgba(0, 0, 0, 0.1);
  }

  &::after {
    content: "";

    position: absolute;
    bottom: -17px;
    left: 0;
    right: 0;

    width: auto;
    height: 1px;

    background-color: rgba(0, 0, 0, 0.1);
  }
}

.gallery__image {
  margin: 0 auto;

  display: block;
}

.gallery__image-title,
.gallery__image-counts {
  font-size: 14px;
  line-height: 24px;
  font-weight: bold;
  text-align: left;
}

.gallery__image-title {
  margin-bottom: 0;
}

.gallery__image-author {
  margin: 0;

  font-size: 14px;
  line-height: 24px;
  font-weight: normal;
  text-align: left;
  text-transform: none;
  color: #333333;
}

.gallery__image-counts {
  position: relative;
  margin-top: 10px;
  margin-bottom: 5px;

  padding-left: 40px;
}

.gallery__image-counts::before {
  content: "";

  position: absolute;
  top: 0;
  left: 0;

  width: 23px;
  height: 21px;

  background: url("../img/icon-like.svg") 0 0 no-repeat;
  opacity: 0.3;
}

@media (min-width: @tablet-width) {
  .gallery__title {
    margin-bottom: 60px;

    padding: 0 165px;
  }

  .gallery__list {
    display: flex;
    flex-wrap: wrap;
    padding: 0 60px;
  }

  .gallery__item {
    margin-bottom: 0;

    padding: 0 0;

    background-color: #f2f2f2;
  }

  .gallery__item:first-child {
    width: 100%;
  }

  .gallery__item:nth-child(n+2) {
    width: 50%;
  }

  .gallery__picture {
    display: flex;
    align-items: center;
    width: 100%;
    height: 267px;

    overflow: hidden;

    &--first-photo {
      height: 400px;
    }
  }

  .gallery__image {
    width: 100%;
    height: auto;
  }

  .gallery__wrapper-text-counts {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 20px 20px;
  }

  .gallery__wrapper-text {
    max-width: 200px;
  }

  .gallery__wrapper-text h3,
  .gallery__wrapper-text p {
    margin: 0;
  }

  .gallery__item::before,
  .gallery__item::after {
    display: none;
  }
}

@media (min-width: @desktop-width) {
  .gallery__title {
    padding: 0 380px;
  }

  .gallery__list {
    padding: 0 0;
  }

  .gallery__item:nth-child(n+2) {
    width: 33.33%;
  }

  .gallery__wrapper-text-counts {
    position: absolute;
    bottom: 0;

    box-sizing: border-box;
    width: 100%;

    color: #ffffff;

    background-color: rgba(0, 0, 0, 0.3);
  }

  .gallery__image-author {
    color: #ffffff;
  }
}
